body{
    font-family: Arial, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    color: #000;
    transition: background-color 0.3s, color 0.3s;
}
header, #products {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#themeToggle {
    padding: 10px;
}
.darkMode {
    background-color: #000;
    color: #fff;
}
.info {
    display: flex;
    justify-content: space-evenly;
}
section {
    margin: 20px 0;
}

#contactForm {
    display: flex;
    flex-direction: column;
}
#contactForm label, #contactForm input, #contactForm textarea, #contactForm fieldset {
    margin-bottom: 10px;
}
.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 33.3%;
    box-sizing: border-box;
}
.addToCart {
    margin-top: 10px;
}

#calculator {
    margin-top: 20px;
}